*{
    padding: 0%;
    margin: 0%;
}

.navbar{
    width: 100%;
    height: 60px;
    background-color: #00A9FF;
    display: flex;
    justify-content:space-evenly;
    font-size: x-large;
}
.nav{
    color: white;
    text-decoration: none;
    padding-top: 10px;
}

.nav:hover{
    text-decoration: underline;
    color: black;
}
.main{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;

}
.container{
    width: 500px;
    height: 400px;
    border: 0px solid black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    
   
}
.Contain{
    width: 560px;
    height: 400px;
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    
}

.profile-img{
    width: 250px;
    border: px solid black;
    height: 250px;
    border-radius: 50%;
    margin-left:23%;
    margin-top:5%;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#profile-pic{
    width: 100%;
    height:auto;

}
.resume{
    margin-top: 10%;
    margin-left: 42%;
}
#re{
    width: 190px;
    height: 60px;
    border: 2px solid black;
    padding: 6px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
   
}
#re:hover{
    background-color:#00A9FF;
    padding: 8px;
    border: opx solid rgb(68, 132, 182);
   
}

#lo{
    margin-left:45%;
    margin-top: 5%;
}
#self{
    text-align: center;
    margin-top: 1%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#welcome{
    margin-top: 5%;
    text-align: center;
}

.main-projects{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    height: 300px;
}
.projects{
    border: 0px solid black;
    height: 200px;
    width: 400px;
    margin: 10px;
    margin-top: 2%;
   

}
.projects:hover{
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h3{
    margin-top: 80px;
    text-align: center;
    font-size: xx-large;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#amazon{
    height: 200px;
    width: 320px;
}
#flipkart{
    height: 200px;
    width: 300px;
    margin-left: 30px;
    
}
#myntra{
    height: 70px;
    width: 250px;
    margin-top: 45px;
    margin-bottom: 90px;
    margin-left: 18px;
}
#netflix{
    height: 100px;
    padding: 50px;
    margin-left: 30px;
    
}
.main-projects a{
      text-decoration: none;
      color: black;
      margin-left: 35%;
      margin-top: 30px;
      font-size: larger;

}

.skill-main{
    height: 400px;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.skill{
    height: 370px;
    width: 600px;
    border: solid 2px black;
}

.skill h2{
    text-align: center;
    margin-top: 5px;
}
#skill-img{
    width: 500px;
    height: 370px;
}
.skill-photo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skill-photo img{
    width: 130px;
    height: 100px;
    margin-top: 10px;
}

.footer{
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: #99dbfc;
    padding: 50px;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;

}
#insta{
    width: 50px;
    height: 50px;
    mix-blend-mode: multiply;
}

#link{
    width: 50px;
    height: 50px;
    mix-blend-mode: multiply;
}
#supper{
    width: 50px;
    height: 50px;
    mix-blend-mode: multiply;
}

.footer ul{
    list-style: none;
}

span{
    font-size: x-large;
    margin-left: 10px;
}

#insta:hover{
    width: 60px;
    height: 60px;
}

#link:hover{
    width: 60px;
    height: 60px;
}

#supper:hover{
    width: 60px;
    height: 60px;
}

